body{
    font-family: 'Poppins', sans-serif;
    margin: 0;    
    
}
h1{

    font-size: 40px;
}
p{
    color: dimgrey;
    text-align: justify;
    padding-right: 10px;

}
.blue{
    color:rgb(204, 105, 23);
    text-shadow:2px 2px 5px rgb(248, 8, 88); 
}
#idle{
    color: rgb(4, 87, 119);
    text-shadow:2px 2px 3px rgb(224, 12, 76); 
    font-style: italic;
    font-size: 20px;
}
.success{
    font-style: italic;
    font-size: large;
    font-weight: 300;
    color:#0f59bb; 
}

.link-button{

    text-decoration: none;
    background-image: linear-gradient(rgb(253, 120, 11),rgb(245, 27, 56));
    border-radius: 5px;
    color: oldlace;
    padding:10px 40px;
    font-weight: 800px;
}
section{
    display: flex;
    margin-bottom: 150px;
    

}
.half-width{
    width: 50%;
    padding-left: 2%;
    
    
  
}
.half-width img{
    width: 80%;
   
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}



    
    